

.widget-section-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}
.title-page {
  font-size: 32px;
  font-weight: 500;
  color: white;
  margin: 16px 8px;
  
}


.view-enabled {
  background-color: red;
}








.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
